@use "../../styles/variables/mixin.scss" as btn;

$color-gray: var(--color-font-light-grey);

.container {
  width: 1124px;
  margin: 0 auto;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: $color-gray;
  letter-spacing: 1px;
  padding: 50px 0;

  &.active {
    display: block;
  }
}

.admin__list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: $color-gray;
  margin-bottom: 100px;
}

.admin__error {
  color: var(--color-vivid-red);
  font-size: 22px;
  margin-bottom: 20px;
}

.admin__title {
  margin-bottom: 25px;
  font-size: 26px;
  color: var(--color-luminous-vivid-orange);
}

.order__container {
  position: relative;
  border: 1px solid var(--color-vivid-grey-blue);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.order__back {
  position: fixed;
  top: 5px;
  left: 5px;
  @include btn.admin-btn;
}
