$padding-block: 12px;

.social {
  position: fixed;
  top: calc(100vh - 100px);
  right: 40px;
  background-color: var(--bg-color);
  width: 60px;
  height: 60px;
  border-radius: 15px;
  border: 1px solid var(--color-luminous-vivid-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.social__close {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  right: $padding-block;
  top: $padding-block;
  cursor: pointer;

  &:before,
  &:after {
    width: 20px;
    height: 2px;
    top: 6px;
    left: -3px;

    background: var(--color-luminous-vivid-orange);
    position: absolute;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.social__icons {
  height: 48px;
}

.social__form {
  display: none;
  flex-direction: column;
}

.social__text {
  background-color: var(--bg-color);
  border-radius: 15px;
  resize: none;
  font: var(--font-catrin-16-norm);
  padding-left: $padding-block;
}

.social__img {
  cursor: pointer;
}

.social_active {
  width: fit-content;
  height: fit-content;
  align-items: flex-end;
  gap: 20px;
  transition: 0.2s;
  padding-bottom: $padding-block;

  .social__form {
    display: flex;

    label {
      font: var(--font-catrin-18-norm);
      margin: 5px 10px;
      border-bottom: 1px solid var(--color-luminous-vivid-orange);
    }
  }

  .social__close {
    display: block;
  }

  .social__img {
    margin-right: $padding-block;
  }
}

.social__form {
}
