@use "../../../styles/variables/mixin.scss" as btn;
@use "../../../styles/variables/times.scss" as time;

.select {
  position: relative;
  user-select: none;
  z-index: var(--index-5);
  font: var(--font-catrin-18-norm);
  border: 1px solid var(--color-luminous-vivid-amber);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    padding: 0 25px;
  }
}

.select__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-left: 1px solid var(--color-luminous-vivid-orange);
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    border: 2px solid;
    border-color: transparent transparent var(--color-luminous-vivid-orange)
      var(--color-luminous-vivid-orange);
    transform: rotate(-45deg);
    transition: all time.$time-quarter;
  }

  &.active:before {
    transform: rotate(-585deg);
  }
}

.select__list {
  position: absolute;
  display: none;
  overflow: hidden;
  flex-direction: column;

  li {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  &.active {
    display: flex;
  }
}

.option__icon {
  display: none;

  &.active {
    display: block;
  }
}
