.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
  background-color: var(--color-cyan-gray);
  padding: 20px 0;
  border-top: var(--border-width-s) solid var(--color-black);
  border-bottom: var(--border-width-s) solid var(--color-black);
  width: 100%;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--marquee-gap);
  min-width: 100%;
  animation: scroll 50s linear infinite;
}

.marquee__content-item {
  font: var(--font-orb-44-norm);
  color: var(--color-font-dark);
  position: relative;

  &::after {
    content: "\2022";
    position: absolute;
    right: -44px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--marquee-gap)));
  }
}

@media (max-width: 1100px) {
  .marquee {
    gap: var(--marquee-gap-note);
    padding: 5px 0;
  }

  .marquee__content {
    gap: var(--marquee-gap-note);
  }

  .marquee__content-item {
    font-size: 14px;
  }
}
