@font-face {
  font-family: "Catrinity";
  font-style: normal;
  font-display: swap;
  /* 
  ~ В scss импорт через относительные пути приводит к ошибке
  ~ используется абсолютный путь. Тильда впереди обозначает корневую папку
  */
  src: 
  // url("~/src/assets/fonts/Catrinity.ttf") format("truetype"),
    url("~/src/assets/fonts/Catrinity.woff2") format("woff2");
}
