@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Mulish/Mulish-Black.woff2") format("woff2"),
    url("Mulish/Mulish-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Mulish/Mulish-Bold.woff2") format("woff2"),
    url("Mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("Inter/Inter-Black.ttf") format("truetype");
}
