@use "../../styles/variables/times.scss";

// основные настройки находятся в header ===
.basket {
  left: 31px;
}

.basket__orders {
  left: -655px;
  z-index: var(--index-25);
}
// ============================================

.basket__info-container {
  display: flex;
  justify-content: space-between;
  font: var(--font-catrin-15-norm);
  line-height: 15px;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;

  span {
    text-align: center;

    &:nth-of-type(1) {
      width: 70px;
    }
    &:nth-of-type(2) {
      width: 230px;
    }
    &:nth-of-type(3) {
      width: 100px;
    }
    &:nth-of-type(4) {
      width: 100px;
    }
  }
}

.basket-item {
  border-top: 1px solid var(--color-luminous-vivid-dark-red);
  border-bottom: 1px solid var(--color-luminous-vivid-dark-red);

  background-color: transparent;
}

.basket-item__client {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
}

.basket-item__admin {
  display: none;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  border-top: 1px dashed var(--color-luminous-vivid-dark-red);

  .basket-item__img-container {
    position: relative;
    padding-right: 50px;
  }

  .basket-item__img-list {
    display: flex;
    gap: 5px;
  }

  .basket-item__img {
    width: 45px;
    opacity: 0.6;
    cursor: default;

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .basket-item__img-lens {
    position: absolute;
    right: 24px;
    bottom: 0;
    height: 23px;
    width: 23px;
    display: block;
    background: url(../../assets/icons/magnifier.svg) no-repeat;
    background-size: 23px;
    background-position: center;
    cursor: pointer;
  }

  .basket-item__download-link {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 23px;
    width: 23px;
    display: block;
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
    background: url(../../assets/icons/download.svg) no-repeat;
    background-size: 23px;
    background-position: center;

    &.active {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }

  .basket-item__download {
    width: 22px;
  }

  &.active {
    display: flex;
  }
}

.basket-item__name {
  width: 200px;
}

.basket-item__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.basket-item__status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: transparent;

  &.violet {
    color: var(--color-violet);
  }
  &.green {
    color: var(--color-vivid-green);
  }
  &.orange {
    color: var(--color-luminous-vivid-orange);
  }
  &.blue {
    color: var(--color-vivid-cyan-blue);
  }
  &.red {
    color: var(--color-luminous-vivid-dark-red);
  }
  &.greenCyan {
    color: var(--color-vivid-green-cyan);
  }
}

.basket-item__basket {
  opacity: 0.4;
  background: url(../../assets/icons/basket.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;

  &.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
.basket-item__edit {
  opacity: 0.4;
  background: url(../../assets/icons/edit.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;

  &.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
