@use "../../styles/variables/times.scss";

// основные настройки находятся в header ===
.basket {
  left: 31px;
}

.basket__orders {
  left: -755px;
  z-index: var(--index-25);
}
// ============================================

.basket__info-container {
  display: flex;
  justify-content: space-between;
  font: var(--font-catrin-15-norm);
  line-height: 15px;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;

  span {
    &:nth-of-type(1) {
      width: 400px;
    }
    &:nth-of-type(2) {
      width: 100px;
    }
    &:nth-of-type(3) {
      width: 100px;
    }
    &:nth-of-type(4) {
      width: 90px;
    }
  }
}

.basket-item {
  border-top: 2px solid var(--color-luminous-vivid-dark-red);
  border-bottom: 2px solid var(--color-luminous-vivid-dark-red);
  padding: 10px 0;
  background-color: transparent;
}

.basket-item__client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 5px 15px 5px 10px;
}

.basket-item__admin {
  width: 100%;
  display: none;
  align-items: flex-start;
  gap: 5%;
  padding: 5px 10px;
  border: 1px solid var(--color-luminous-vivid-dark-red);
  border-radius: 6px;

  .basket-item__img-container {
    min-width: 40%;

    span {
      color: var(--color-luminous-vivid-dark-red);
    }
  }
  .basket-item__mail-container {
    width: 55%;
    display: none;

    &.active {
      display: block;
    }

    span {
      color: var(--color-luminous-vivid-dark-red);
    }
  }

  .basket-item__mail-text {
    height: auto;
    padding: 3px 6px;
    border: 1px dashed var(--color-luminous-vivid-amber);
    border-radius: 4px;
    overflow-y: auto;
  }

  .basket-item__img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    padding-right: 80px;
    width: fit-content;
  }

  .basket-item__img {
    width: 50px;
    height: 55px;
    opacity: 0.6;
    cursor: default;
    object-fit: cover;

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .basket-item__icon {
    position: absolute;
    bottom: 0;
    height: 23px;
    width: 23px;
    background-color: transparent;
    background-size: 23px;
    background-position: center;
    background-repeat: no-repeat;

    &.basket-item__img-lens {
      right: 52px;
      display: block;
      background-image: url(../../assets/icons/magnifier.svg);
      cursor: pointer;
    }

    &.basket-item__download-link {
      right: 26px;
      display: block;
      opacity: 0.4;
      cursor: default;
      pointer-events: none;
      background-image: url(../../assets/icons/download.svg);

      &.active {
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
      }
    }

    &.basket-item__pay {
      right: 0;
      display: none;
      cursor: pointer;
      background-image: url(../../assets/icons/pay.png);

      &.active {
        display: block;
      }
    }
  }

  .basket-item__download {
    width: 22px;
  }

  &.active {
    display: flex;
  }
}

.basket-item__name {
  width: 400px;
}

.basket-item__date {
  width: 100px;
}

.basket-item__icons {
  display: flex;
  justify-content: center;
  width: 90px;
  align-items: center;
  gap: 20px;
}

.basket-item__status {
  width: 100px;

  &.violet {
    color: var(--color-violet);
  }
  &.green {
    color: var(--color-vivid-green);
  }
  &.orange {
    color: var(--color-luminous-vivid-orange);
  }
  &.blue {
    color: var(--color-vivid-cyan-blue);
  }
  &.red {
    color: var(--color-luminous-vivid-dark-red);
  }
  &.greenCyan {
    color: var(--color-vivid-green-cyan);
  }
}

.basket-item__basket {
  opacity: 0.4;
  background: url(../../assets/icons/basket.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;

  &.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
.basket-item__edit {
  opacity: 0.4;
  background: url(../../assets/icons/edit.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;

  &.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
