.home {
  width: 100%;
  text-align: center;
  height: var(--height-home);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__container {
  width: 42%;
  margin-left: 3%;
  color: var(--color-font-dark);
}

.home__image {
  width: 50%;
  height: 100%;
  background: url("../../assets/images/home-2.jpg") no-repeat center/cover;
}

.home__title {
  font-family: var(--font-orb);
  letter-spacing: -2px;
  line-height: 80px;
  font-size: 75px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.home__title-name {
  color: var(--color-font-accent-dark);
  text-shadow: var(--color-font-accent-dark) 1px 1px 1px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -70px;
    background: url(../../assets/images/ornament.png) no-repeat center/100%;
    width: 60px;
    height: 50px;
  }

  &::after {
    transform: scale(-1, 1);
    left: auto;
    right: -70px;
  }
}

.home__subtitle {
  font: var(--font-catrin-44-norm);
  letter-spacing: -2px;
  line-height: 80px;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
}

.home__btn {
  border-radius: 25px;
  font: var(--font-catrin-22-bold);
  background-color: transparent;
  color: var(--color-font-dark);
  letter-spacing: 1px;
  padding: 15px 25px;
  width: fit-content;
  transition: 0.3s ease;
  display: block;
  margin: 50px auto 0;
  border: 2px solid var(--color-black);

  &::after {
    content: "";
    background: url(../../assets/icons/arrow.svg) no-repeat;
    width: 23px;
    height: 15px;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 14px;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.dark-block {
  max-width: 100%;
  min-width: 100%;
  height: 150px;
  background-image: url(../../assets/images/1.jpg);

  overflow: hidden;
}
