@use "./variables/times.scss";

html {
  scroll-behavior: smooth;
}

.app {
  width: 100%;
  color: #000;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.no-scroll {
  overflow-y: scroll; /* Разрешает видимость полосы прокрутки */
  position: fixed; /* Запрещает прокрутку страницы */
  width: 100%; /* Фиксирует ширину страницы */
  top: calc(-1 * var(--scroll-position)); /* Запоминает место прокрутки */
}
