$padding-service-info: 90px;
$padding-block: 100px;

.services {
  width: 100%;
}

.services__title {
  padding: 90px $padding-block;
  font: var(--font-orb-64-norm);
}
.services__list {
  width: 100%;
}

.service {
  height: var(--height-service);
  width: 100%;

  .service__container {
    width: 100%;
    height: var(--height-service);
    display: flex;
  }

  &:nth-of-type(2n) {
    .service__container {
      flex-direction: row-reverse;
    }
  }
}

.service_inactive {
  width: 100%;
  position: fixed;
  box-shadow: 1px 0 3px 1px var(--color-overlay);
}

.service__img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: var(--border-width-s) solid var(--color-black);
}

.service__info {
  width: 50%;
  height: 100%;
  padding: $padding-service-info $padding-block;
  position: relative;
  border: var(--border-width-s) solid var(--color-black);
  background-color: var(--bg-color);
}

.service__info-title {
  font: var(--font-orb-44-norm);
  letter-spacing: -2px;
}

.service__info-subtitle {
  font: var(--font-catrin-22-norm);
  margin: 10px;
}

.service__info-features {
  margin: 20px 30px;
}

.service__info-features-item {
  font: var(--font-catrin-22-norm);
  font-size: 20px;

  padding-left: 10px;
  list-style-type: "\2713";
  &::marker {
    color: var(--color-luminous-vivid-orange);
  }
}

.service__info-btn {
  font: var(--font-catrin-22-norm);
  line-height: 22px;
  background-color: transparent;
  color: var(--color-font-dark);
  letter-spacing: 1px;
  padding: 13px 50px 10px;
  width: fit-content;
  transition: 0.3s ease;
  display: block;
  position: absolute;
  left: $padding-service-info;
  bottom: $padding-service-info;
  border: var(--border-width-m) solid var(--color-black);
  border-radius: var(--radius-btn);
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  &::after {
    content: "";
    background: url(../../assets/icons/arrow.svg) no-repeat;
    width: 23px;
    height: 20px;
    background-size: contain;
  }

  &:hover {
    transform: translateX(5px);
  }
}

.on-right {
  animation: 1s ease 0s 1 onRight forwards;
}

@keyframes onRight {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.on-left {
  animation: 1s ease 0s 1 onLeft forwards;
}

@keyframes onLeft {
  0% {
    transform: rotate(30deg) translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.on-up {
  animation: 1s ease 0s 1 onUp forwards;
}

@keyframes onUp {
  0% {
    transform: rotate(30deg) translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
