@use "../../../styles/variables/mixin.scss" as btn;
$border-radius: 8px;
$border-amber: 1px solid var(--color-luminous-vivid-amber);

.order__images {
  width: 100%;
  min-height: 160px;
  position: relative;

  &.inactive {
    display: none;
  }
}

.order__images-title {
  margin-bottom: 25px;
}

.order__images-container {
  display: flex;
  justify-content: space-between;
}

.order__images-upload {
  display: flex;
  padding: 5px 55px 0 5px;
  width: fit-content;
  max-width: 60%;
  flex-wrap: wrap;
  gap: 6px;
  position: relative;
}

.order__images-admin {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 5px 5px 0 55px;
  position: relative;
  max-width: 25%;
}

.btn-gallery {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &.upload__btn-gallery {
    right: 0;
    top: 0;
  }
  &.upload__btn-admin-gallery {
    left: 0;
    top: 0;
  }
}

.upload-img {
  position: relative;

  img {
    width: 70px;
    height: 85px;
    border-radius: $border-radius;
    border: $border-amber;
    background-color: var(--color-font-light-grey);
  }

  button {
    cursor: pointer;
  }
}

.order__upload-edit {
  @include btn.admin-btn;
  position: absolute;
  right: 0;
  top: 0;
}
