@use "../../../styles/variables/mixin.scss" as btn;
@use "../admin-styles.scss";

$color-gray: var(--color-font-light-grey);

.order {
  .device-order {
    justify-content: space-between;
  }
}

.order__container {
  &.order-info {
    display: none;
    position: relative;

    &.active {
      display: block;
    }
  }
}

.order__item {
  margin-bottom: 25px;
  width: 100%;
  justify-content: space-between;
  display: flex;

  &.order__item-order {
    &.inactive {
      display: none;
    }
  }

  span {
    width: 70%;
  }
}

.order-edit__btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  p {
    width: 90%;

    span {
      width: 67%;
    }
  }

  button {
    width: 10%;
    height: 30px;
    @include btn.admin-btn;
  }

  &.order__item-order {
    &.inactive {
      display: none;
    }
  }
}

.order__btn-res {
  position: absolute;
  top: 20px;
  right: 20px;
  @include btn.admin-btn;
}

.order__btn-edit {
  position: absolute;
  top: 23px;
  right: 75px;
  @include btn.admin-btn;
}

.order__btn-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  background: url(@/assets/icons/close.svg) no-repeat;
  background-size: 25px;
  cursor: pointer;
}
