.services {
  width: 100%;
}

.services__title {
  margin: 90px var(--padding-block);
  font-family: var(--font-orb);
  font-size: 64px;
  font-weight: normal;
}
.services__list {
  width: 100%;
  border-top: var(--border-width-s) solid var(--color-black);
  border-bottom: var(--border-width-s) solid var(--color-black);
}

.service {
  width: 100%;
  height: 600px;
  display: flex;

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  &:nth-last-of-type() {
    border-bottom: var(--border-width-s) solid var(--color-black);
  }
}
.service__img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: var(--border-width-s) solid var(--color-black);
}
.service__info {
  width: 50%;
  height: 100%;
  padding: var(--padding-service-info);
  position: relative;
}
.service__info-title {
  font: var(--font-orb-44-norm);
  letter-spacing: -2px;
}

.service__info-btn {
  font: var(--font-catrin-22-bold);
  line-height: 22px;
  background-color: transparent;
  color: var(--color-font-dark);
  letter-spacing: 1px;
  padding: 13px 50px 10px;
  width: fit-content;
  transition: 0.3s ease;
  display: block;
  position: absolute;
  left: var(--padding-service-info);
  bottom: var(--padding-service-info);
  border: var(--border-width-m) solid var(--color-black);
  border-radius: var(--radius-btn);
  display: flex;
  align-items: center;
  gap: 14px;

  &::after {
    content: "";
    background: url(../../assets/icons/arrow.svg) no-repeat;
    width: 23px;
    height: 20px;
    background-size: contain;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.on-right {
  animation: 1s ease 0s 1 onRight forwards;
}

@keyframes onRight {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.on-left {
  animation: 1s ease 0s 1 onLeft forwards;
}

@keyframes onLeft {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.on-up {
  animation: 1s ease 0s 1 onUp forwards;
}

@keyframes onUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
