@use "../../styles/variables/times.scss";

// основные настройки находятся в header ===
.messages {
  right: 58px;
}

.messages-list {
  right: 69px;
  z-index: var(--index-35);
}
// =========================================
.messages__info-container {
  display: flex;
  justify-content: space-between;
  font: var(--font-catrin-15-norm);
  line-height: 15px;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;

  span {
    &:nth-of-type(1) {
      width: 500px;
    }
    &:nth-of-type(2) {
      text-align: center;
      width: 100px;
    }
    &:nth-of-type(3) {
      width: 90px;
    }
  }
}

.messages-item {
  border-top: 2px solid var(--color-luminous-vivid-dark-red);
  border-bottom: 2px solid var(--color-luminous-vivid-dark-red);
  padding: 10px 0;
}
.messages-item__client {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px 0 10px;
  background-color: transparent;
}

.messages-item__text {
  width: 500px;
}
.messages-item__date {
  text-align: center;
  width: 100px;
}

.messages-item__icons {
  display: flex;
  justify-content: center;
  width: 90px;
  align-items: center;
  gap: 20px;
}

.messages-item__basket {
  background: url(../../assets/icons/basket.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.messages-item__edit {
  background: url(../../assets/icons/edit.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.messages-item__admin {
  width: 100%;
  display: none;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-luminous-vivid-dark-red);
  border-radius: 6px;
  position: relative;
  margin-top: 15px;

  &.active {
    display: block;
  }

  .messages-item__admin-title {
    position: absolute;
    top: -9px;
    left: 200px;
    background-color: var(--bg-modal-color);
    color: var(--color-luminous-vivid-dark-red);
    line-height: 18px;
    padding: 0 10px;
  }

  .messages-item__mail-text {
    height: auto;
    padding: 3px 6px;
    border: 1px dashed var(--color-luminous-vivid-amber);
    border-radius: 4px;
    overflow-y: auto;
  }
}
