@use "../../styles/variables/times.scss";

// основные настройки находятся в header ===
.messages {
  left: 113px;
}

.messages-list {
  left: -573px;
  z-index: var(--index-35);
}
// =========================================

.messages-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-luminous-vivid-dark-red);
  border-bottom: 1px solid var(--color-luminous-vivid-dark-red);

  padding: 5px 10px;
  background-color: transparent;
}

.messages-item__text {
  width: 450px;
}
.messages-item__date {
  width: 50px;
}

.messages-item__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.messages-item__basket {
  background: url(../../assets/icons/basket.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.messages-item__edit {
  background: url(../../assets/icons/edit.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
