:root {
  --font-orb: "Oranienbaum";
  --font-catrin: "Catrinity";
  --font-cursive-gr-vb: "Great Vibes";

  --font-10: 10px;
  --font-11: 11px;
  --font-12: 12px;
  --font-13: 13px;
  --font-14: 14px;
  --font-15: 15px;
  --font-16: 16px;
  --font-18: 18px;
  --font-22: 22px;
  --font-30: 30px;
  --font-44: 44px;
  --font-64: 64px;

  --font-weight-norm: 400;
  --font-weight-bold: 700;

  --font-orb-64-norm: var(--font-weight-norm) var(--font-64) var(--font-orb);
  --font-orb-44-norm: var(--font-weight-norm) var(--font-44) var(--font-orb);
  --font-orb-30-norm: var(--font-weight-norm) var(--font-30) var(--font-orb);

  --font-orb-30-bold: var(--font-weight-bold) var(--font-30) var(--font-orb);

  --font-catrin-44-norm: var(--font-weight-norm) var(--font-44)
    var(--font-catrin);
  --font-catrin-22-norm: var(--font-weight-norm) var(--font-22)
    var(--font-catrin);
  --font-catrin-18-norm: var(--font-weight-norm) var(--font-18)
    var(--font-catrin);
  --font-catrin-16-norm: var(--font-weight-norm) var(--font-16)
    var(--font-catrin);

  --font-catrin-12-norm: var(--font-weight-norm) var(--font-12)
    var(--font-catrin);
  --font-catrin-11-norm: var(--font-weight-norm) var(--font-11)
    var(--font-catrin);

  --font-catrin-22-bold: var(--font-weight-bold) var(--font-22)
    var(--font-catrin);
}
