:root {
  //* - height
  //^ - height-header (устанавливаются js в setCSSVariales.ts)
  // --height-header: 105px;

  --height-home: 730px;

  //* - border ---
  --border-width-s: 1px;
  --border-width-m: 2px;

  //* - radius ---
  --radius-btn: 10px;
}
