:root {
  //* - height
  //^ - height-header (устанавливаются js в setCSSVariales.ts)
  // --height-header: 105px;

  --height-home: 730px;

  //* - gap ---
  --marquee-gap: 70px;
  --marquee-gap-note: 40px;

  //* - padding ---
  --padding-service-info: 100px;
  --padding-block: 100px;

  //* - border ---
  --border-width-s: 1px;
  --border-width-m: 2px;

  //* - radius ---
  --radius-btn: 10px;
}
