$marg-bottom-text: 20px;

.contacts {
  width: 100%;
}

.contacts__title {
  margin: 90px var(--padding-block);
  font: var(--font-orb-64-norm);
}

.contacts__container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-top: var(--border-width-s) solid var(--color-black);
  border-bottom: var(--border-width-s) solid var(--color-black);
}

.contacts__info {
  width: 50%;
  height: 100%;
  padding: 70px 70px 70px var(--padding-block);
  color: var(--color-text-light);
}

.contacts__info-title {
  font: var(--font-catrin-36-norm);
  margin-bottom: 35px;
  font-weight: 900;
}

.contacts__text-container {
  margin-bottom: $marg-bottom-text;
  margin-left: 30px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  font: var(--font-catrin-22-bold);
}

.contacts__text-container_type_phone {
  background-image: url(../../assets/icons/Phone.png);
}
.contacts__text-container_type_address {
  background-image: url(../../assets/icons/location.png);
  margin-bottom: 30px;
}

.contacts__social-container {
  font: var(--font-catrin-22-bold);
}

.contacts__social {
  margin-left: 30px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  font: var(--font-catrin-22-bold);
}

.contacts__social_type_email {
  background-image: url(../../assets/icons/mail.png);
}
.contacts__social_type_telegram {
  background-image: url(../../assets/icons/telegram.png);
  padding-left: 25px;
  margin-left: 50px;
}
.contacts__social_type_whatsapp {
  background-image: url(../../assets/icons/whatsapp.png);
  margin-left: 50px;
}

.contacts__schedule-container {
  margin-left: 30px;
  padding-left: 50px;
  background-image: url(../../assets/icons/systemtime.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin-bottom: $marg-bottom-text;
}

.contacts__schedule {
  width: 385px;
  margin-top: 10px;
  font: var(--font-catrin-22-norm);
  line-height: 28px;
}

.contacts__map {
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-left: 1px solid var(--color-black);
}
