.home {
  width: 100%;
  text-align: center;
  height: var(--height-home);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__container {
  width: 42%;
  margin-left: 3%;
  color: var(--color-font-dark);
}

.home__image {
  width: 50%;
  height: 100%;
  background: url("../../assets/images/home-2.jpg") no-repeat center/cover;
}

.home__title {
  font-family: var(--font-orb);
  letter-spacing: -2px;
  line-height: 80px;
  font-size: 75px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.home__title-name {
  text-shadow: var(--color-font-accent-dark) 1px 1px 1px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -70px;
    background: url(../../assets/images/ornament.png) no-repeat center/100%;
    width: 60px;
    height: 50px;
  }

  &::after {
    transform: scale(-1, 1);
    left: auto;
    right: -70px;
  }
}

.home__subtitle {
  font: var(--font-catrin-44-norm);
  letter-spacing: -2px;
  line-height: 80px;
  margin-top: 50px;
  -webkit-font-smoothing: antialiased;
}

.on-right {
  animation: 1s ease 0s 1 onRight forwards;
}

@keyframes onRight {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
