@use "../../../styles/variables/times.scss";
@use "../admin-styles.scss";

$color-gray: var(--color-border-light);
$color-light-gray: var(--color-font-light-grey);

.admin {
  font: var(--font-catrin-18-norm);
}

.admin__list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: $color-gray;
  margin-bottom: 100px;
}

.admin__error {
  color: var(--color-vivid-red);
  font-size: 22px;
  margin-bottom: 20px;
}

.device-orders {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: var(--color-dark-gray-blue);
}

.device-orders__id {
  width: 350px;
}

.device-order {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gray;
  padding: 6px 10px;

  &:last-of-type {
    border-bottom: none;
  }

  .device-order__service {
    width: 475px;
  }

  .device-order__date {
    width: 100px;
  }

  .device-order__status {
    width: 110px;
  }

  .device-order__btn {
    cursor: pointer;
    color: $color-light-gray;
    background-color: transparent;
    width: 30px;

    &::after {
      content: "\27F9";
    }
  }
}
