@use "../../../styles/variables/times.scss";

$color-gray: var(--color-border-light);
$color-green: rgb(2, 254, 2);
$color-yellow: yellow;
$color-red: rgb(252, 75, 75);

.admin {
  display: none;
  color: $color-gray;
  font: var(--font-catrin-18-norm);

  &.active {
    display: block;
  }
}

.admin__list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: $color-gray;
  margin-bottom: 100px;
}

.admin__error {
  color: var(--color-vivid-red);
  font-size: 22px;
  margin-bottom: 20px;
}

.device-orders {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: var(--color-dark-gray-blue);
}

.device-orders__id {
  width: 350px;
}

.device-order {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gray;
  padding: 6px 10px;

  &:last-of-type {
    border-bottom: none;
  }

  .device-order__service {
    width: 400px;
  }

  .device-order__date {
    width: 100px;

    &.green {
      color: $color-green;
    }
    &.yellow {
      color: $color-yellow;
    }
    &.red {
      color: $color-red;
    }
  }

  .device-order__status {
    width: 110px;

    &.yellow {
      color: $color-yellow;
    }
    &.green {
      color: $color-green;
    }
    &.orange {
      color: orange;
    }
    &.blue {
      color: rgb(154, 191, 255);
    }
    &.red {
      color: $color-red;
    }
    &.greenCyan {
      color: cyan;
    }
  }

  .device-order__btn {
    cursor: pointer;
    color: $color-gray;
    background-color: transparent;
    width: 30px;

    &::after {
      content: "\27F9";
    }
  }

  .basket-item__img-modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 0;
    background-color: var(--bg-modal-color);
    border: 2px solid var(--color-luminous-vivid-dark-red);
    border-radius: 15px;
    padding: 0;
    z-index: var(--index-25);
    transition: all times.$time-half;
  }

  // hover работает если у потомков есть класс "active"
  .basket-item__img-container {
    &:hover:has([class*="active"]) {
      .basket-item__img-modal {
        width: 500px;
        padding: 100px;
        opacity: 1;
        visibility: visible;
        transition: all times.$time-half;
      }
    }
  }

  .basket-item__img {
    width: 45px;
    opacity: 0.6;
    cursor: default;

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .basket-item__download-link {
    height: 22px;
    opacity: 0.4;
    cursor: default;
    pointer-events: none;

    &.active {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }
  }
}

.basket-item__basket {
  opacity: 0.4;
  background: url(../../assets/icons/basket.png) no-repeat;
  background-position: center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;

  &.active {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
  }
}
