@use "../../../styles/variables/times.scss";
@use "../../../styles/variables/mixin.scss" as btn;
@use "../admin-styles.scss";

$color-gray: var(--color-border-light);
$color-light-gray: var(--color-font-light-grey);

.admin {
  font: var(--font-catrin-18-norm);
}

.device-orders {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 6px 10px;
  background-color: var(--color-dark-gray-blue);
}

.device-orders__id {
  width: 350px;
}

.device-order {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-gray;
  padding: 6px 10px;

  &:last-of-type {
    border-bottom: none;
  }

  .device-order__service {
    width: 475px;
  }

  .device-order__date {
    width: 100px;
  }

  .device-order__status {
    width: 110px;
  }

  .device-order__btn {
    cursor: pointer;
    color: $color-light-gray;
    background-color: transparent;
    width: 30px;

    &::after {
      content: "\27F9";
    }
  }
}

.admin__error-orders {
  margin-bottom: 100px;
  font-size: 22px;
}
.admin__error-messages {
  margin-bottom: 100px;
  font-size: 22px;
}

.admin__services {
  display: flex;
  flex-wrap: wrap;

  .admin__title {
    width: 70%;
  }

  .admin__btn-services-edit {
    @include btn.admin-btn;
    font: var(--font-catrin-18-norm);
    height: 40px;
    width: 25%;
  }
}
