.header__btn {
  transition: all 0.25s;
  z-index: 111;
  width: 40px;
  background: transparent;
  height: 40px;
  cursor: pointer;
  position: relative;

  .header__btn-icon {
    transition: all 0.25s;
    position: absolute;
    width: 35px;
    height: 2px;
    right: 0;
    top: 20px;
    background-color: black;

    &:before {
      width: 40px;
      height: 2px;
      left: -5px;
      background: black;
      position: absolute;
      content: "";
    }

    &:after {
      width: 30px;
      height: 2px;
      left: 5px;
      background: black;
      position: absolute;
      content: "";
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  &:hover {
    .header__btn-icon {
      &:before {
        transition: 0.25s;
        top: -11px;
      }
      &:after {
        top: 11px;
      }
    }
  }

  &.active {
    .header__btn-icon {
      transform: rotate(180deg);
      background-color: transparent;
      right: 0;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        width: 30px;
        left: 0;
        transform: rotate(45deg);
      }

      &:after {
        width: 30px;
        left: 0;

        transform: rotate(-45deg);
      }
    }
  }
}

#menu {
  z-index: 111;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: var(--height-header);
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  width: 100%;
  height: 0;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  & ul {
    list-style: none;
    padding: 0;
    letter-spacing: 0.4em;
  }
  & li:first-child {
    margin-top: 0;
  }
  & li {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 20px;
    padding: 5px 0;
    color: white;
  }
  & a {
    padding: 8px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
  }
  & a:hover {
    letter-spacing: 0.5em;
    text-decoration: underline;
  }
  &.open {
    height: 270px;
    width: 100%;
    background: #f3581b;
    border-bottom: 1px solid black;
  }
}
.space {
  letter-spacing: 0;
}
