@use "../../styles/variables/times.scss";

.header__orders {
  position: absolute;
  top: -17px;
  font: var(--font-catrin-18-bold);
  color: var(--color-luminous-vivid-dark-red);
  width: 23px;
  height: 23px;
  padding: 5px;
  display: none;
  background-image: none;
  border-radius: 6px;
  border: 1px solid var(--color-luminous-vivid-dark-red);
  background-color: var(--bg-modal-color);
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  z-index: var(--index-35);

  &.active_admin {
    border: none;
    border-radius: unset;
    background-color: transparent;
    background-image: url(../../assets/icons/mail-order.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    animation: mail 2s infinite linear;
  }

  &:hover {
    &.active_admin {
      animation: none;
    }
  }

  &.active {
    display: inline;
  }

  &.active-close {
    &.active_admin {
      border: 1px solid var(--color-luminous-vivid-dark-red);
      border-radius: 6px;
      background-color: var(--bg-modal-color);
      background-image: none;
      animation: none;
    }
  }

  &.active-close::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--bg-modal-color);
    background-image: url(../../assets/icons/close.svg);
    background-size: 80%;
    background-position: center;
  }
}

.header__orders-info {
  position: absolute;
  top: -5px;
  width: 800px;
  padding: 10px;
  transform: translateY(-700px);
  visibility: hidden;
  transition: all times.$time-half;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 2px solid var(--color-luminous-vivid-dark-red);
  border-radius: 10px;
  background-color: var(--bg-modal-color);
  font: var(--font-catrin-18-norm);
  color: var(--color-dark-gray-blue);

  &.active,
  &.active-hover {
    transition: all times.$time-half;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes mail {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
