@use "../../styles/reset.scss";
@use "../../styles/variables/colors.scss";
@use "../../styles/variables/sizes.scss";
@use "../../styles/variables/fonts-styles.scss";
@use "../../styles/variables/z-index.scss";
@use "../../assets/fonts/fonts.scss";

@use "../../blocks/admin/auth/auth.scss";
@use "../../blocks/admin/admin-block/admin-block.scss";

@use "../../utils/ui/overlay/overlay.scss";

.main-admin {
  height: 100vh;
  background-color: var(--color-dark-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
