@use "../../styles/reset.scss";
@use "../../styles/variables/colors.scss";
@use "../../styles/variables/sizes.scss";
@use "../../styles/variables/fonts-styles.scss";
@use "../../styles/variables/z-index.scss";
@use "../../styles/variables/mixin.scss" as btn;
@use "../../assets/fonts/fonts.scss";

@use "../../blocks/admin/auth/auth.scss";

@use "../../blocks/admin/admin-styles.scss";

@use "../../blocks/admin/admin-block/admin-block.scss";

@use "../../blocks/admin/admin-order/admin-order.scss";
@use "../../blocks/admin/admin-order/admin-order-images.scss";

@use "../../blocks/admin/admin-modal/admin-modal.scss";
@use "../../blocks/gallery/gallery.scss";
@use "../../utils/ui/overlay/overlay.scss";
@use "../../utils/ui/select/select.scss";

.main-admin {
  background-color: var(--color-dark-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-admin__btn {
  position: fixed;
  background-color: var(--color-dark-gray-blue);
  z-index: var(--index-35);
  bottom: 5px;
  left: 5px;
  @include btn.admin-btn;
}
